.fav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.fav article {
  width: 30%;
  text-align: center;
  margin: 1%;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}
.tituloo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tith2 {
  color: white;
  white-space: nowrap;
}

.link a {
  color: white;
  text-decoration: none;
}
.container-fav {
  color: white;
}

@media (max-width: 768px) {
  .fav article {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .fav article {
    width: 100%;
  }
}
