body {
  background-color: black;
}

.imb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.imb article {
  width: 30%;
  text-align: center;
  margin: 1%;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}

.busch2 {
  width: 15%;
}
.link a {
  color: white;
  text-decoration: none;
}
@media (max-width: 576px) {
  a {
    font-size: 15px;
  }
}

.bup {
  text-align: center;
  margin-top: 50px;
  color: red;
}

.buscador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: red;
}
