body {
  margin: 0;
  padding: 0;
}
.landing-page {
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 30px;
}
