.all {
  background-color: black;
  height: 100vh;
}
.titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}
.titulo h1 {
  width: 15%;
}
.titulo h2 {
  color: red;
  width: 30%;
}
.flex-container {
  display: flex;
  align-items: center;
  color: greenyellow;
}

.listado {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
.listado b {
  color: white;
}
.liiplot {
  display: flex;
  text-align: right;
}

@media (max-width: 576px) {
  .titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .titulo h1 {
    font-size: 30px;
  }
  .titulo h2 {
    font-size: 20px;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .listado {
    align-items: flex-start;
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 32px;
  color: white;
}

.Btn {
  width: 120px;
  height: 45px;
  background-color: rgb(65, 64, 64);
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
}

.text {
  color: rgb(184, 236, 104);
  font-weight: 800;
  letter-spacing: 1.1px;
  z-index: 2;
}

.svgIcon {
  z-index: 2;
}

.svgIcon path {
  fill: rgb(184, 236, 104);
}

.Btn:hover {
  color: rgb(230, 255, 193);
}

.effect {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(184, 236, 104);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition-duration: 0.5s;
}

.Btn:hover .effect {
  transform: scale(15);
  transform-origin: center;
  opacity: 1;
  transition-duration: 0.5s;
}

.Btn:hover {
  box-shadow: 0px 0px 5px rgb(184, 236, 104), 0px 0px 10px rgb(184, 236, 104),
    0px 0px 30px rgb(184, 236, 104);
  transition-duration: 0.7s;
}

.Btn:hover .text {
  color: rgb(65, 64, 64);
}

.Btn:hover .svgIcon path {
  fill: rgb(65, 64, 64);
}
